.burger-button {
    background-color: initial;
    background-image: url(./burger-button.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 25px;
    height: 25px;
    border: 0;
}